# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Env files
# .env
# client/.env
# server/.env

# OS files
.DS_Store

# Ignore all new files in uploads/businesses/
server/uploads/businesses/*

# Ignore all files in uploads/submissions/
server/uploads/submissions/*

# Don't ignore .gitkeep files in case you use them later
!server/uploads/businesses/.gitkeep
!server/uploads/submissions/.gitkeep

